# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.c text
*.h text
*.cpp text
*.hpp text
*.ino text

# Documentation
*.md text
*.txt text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
